body {
  position: relative;
  padding: 0 20vw;
  /* min-height: 100vh; */
  /* z-index: 66666; */
  background-color: #F7F7FF;
}

/* navigation */

.navigation {
  background-color: #F7F7FF;
  z-index: 1;
}
.navigation__list {
  border-bottom: 1px solid #1B1B1E;
}
.navigation__list__item__link {
  font-weight: 300;
  color: #1B1B1E;
}
i {
  font-size: 16px;
  color: #1B1B1E;
}

/* footer */

.footer {
  background-color: #F7F7FF;
}
.footer__wrapper{
  border-top: 1px solid #1B1B1E;
}
.footer__navigation__list__item__link {
  color:#1B1B1E;
}
.gallery{
  font-weight: 700;
  color: #4392F1;
}

/* content */

.content {
  margin: 150px 0;
}
.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 15vw);
  grid-gap: 50px;
}
img {
  width: 100%;
  height: 100%;
}
.modal__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  animation: showPicture 0.5s;
}
.modal__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40vw;
  height: auto;
  z-index: 2;
}
.picture img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40vw;
  height: auto;
  z-index: 2;
}
.active {
  display: block;
}

@keyframes showPicture {
  0% {opacity: 0;}
  100% {opacity: 1;}
}