* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', 'sans-serif';
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 30px 50px;
  font-size: 15px;
  margin: 0 20vw;
}
.navigation__list__item {
  display: inline-block;
  margin: 0 2vw;
  padding: 1vh 10px 1vh 0;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}
.navigation__list__item__link {
  font-weight: 300;
  text-decoration: none;
  color: #F7F7FF;
  transition: 0.5s;
}
.navigation__list__item:hover {
  border-bottom: 1px solid #4392F1 ;
}
.navigation__list__item:hover .navigation__list__item__link{
  color:#4392F1 ; 
 }
i {
  display: inline-block;
  font-size: 16px;
  color: #F7F7FF;
}

